<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, navbar_items, content, footer)">
<head>
  <title th:replace="${title}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link th:href="@{/css/index.css}" rel="stylesheet" media="screen"/>
  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>
</head>
<body>
<!-- Main Navigation -->
<table class="table-custom">
  <tbody>
  <tr>
    <td style="width:10%" rowspan="2">
      <nav class="navbar navbar-dark bg-dark navbar-expand-xs ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div th:replace="${navbar_items}"/>
      </nav>
    </td>
    <td class="navbar-top-td">
      <div class="navbar navbar-dark bg-dark navbar-expand-lg" style="height:100%">
        <!--toggler-->
      </div>
    </td>
  </tr>
  <tr>
    <td style="width:90%">
      <div th:replace="${content}"/>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="2">
      <footer class="container py-5" th:replace="${footer}"/>
    </td>
  </tr>
  </tfoot>
</table>
</body>
</html>